<div *ngIf="regions.length === 0; else table" class="alert alert-warning text-center">
    No hay paises para mostrar
</div>

<ng-template #table>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Pais</th>
                <th>Capital</th>
                <th>Moneda</th>
                <th>Continente</th>
                <th>Poblacion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let region of regions; let i = index">
                <td>{{i + 1 }}</td>
                <td>{{region.altSpellings[2]}}</td>
                <td>{{region.capital}}</td>
                <td>{{region.continents}}</td>
                <td>{{region.area}}</td>
                <td>
                    <a href="#">Ver mas</a>
                </td>
            </tr>
        </tbody>
    </table>

</ng-template>